.footer{
    background-color: #3C3834;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    height: 100px;
    .number{
        margin-left: 100px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .social{
        margin-right: 100px;
        a{
            margin-left: 8px;
        }
    }
}