.mainBox{
    width: 1545px;
    height: 1900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.input.Error{  //ошибки 
    border: 1px solid #9e0000;
}

.messageError{
    font-size: 14px;
    color: #9e0000;
    margin: 5px 0px;
}



/* .block{
    height: 300px;
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(222, 67, 202);
} */